.comp1{
    width: 600px;
    padding: 50px;
}

h1{
    font-size: 55px;
    text-align: center;
    margin-bottom: 0px;
}

h1 + p {
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 70px;
}

h2{
    font-size: 23px;
    text-decoration: underline;
    margin-top: 33px;
}

.lastDiv{
    margin-bottom: 115px;
}

h2 + p, h4 + p{
    font-size: 16.1px;
}